{:paths ["src"]

 :aliases
 {:test
  {:extra-paths ["test"]}

  :nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "0.8.3"}}
   :main-opts ["-m" "nrepl.cmdline" "-i"]}

  :portal
  {:extra-deps {djblue/portal {:mvn/version "0.10.0"}}}

  :reveal
  {:extra-deps {vlaaad/reveal {:mvn/version "1.3.196"}}
   :ns-default vlaaad.reveal
   :exec-fn repl}}}
