{:paths ["src"]

 :aliases
 {:test
  {:extra-paths ["test"]}

  :nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "0.8.0"}}
   :main-opts ["-m" "nrepl.cmdline" "-i"]}

  :portal
  {:extra-deps {djblue/portal {:mvn/version "0.4.0"}}}}}
